# 实习四：机器学习

In [2]:
import pymysql
pymysql.install_as_MySQLdb()
%load_ext sql
%sql mysql://stu2000012926:stu2000012926@162.105.146.37:43306
%sql use stu2000012926;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.

[]

In [3]:
%%sql
show tables;

 * mysql://stu2000012926:***@162.105.146.37:43306
13 rows affected.

[('Assembly',),
 ('aggResult',),
 ('diamonds',),
 ('distance',),
 ('employees',),
 ('max_slidingWin',),
 ('order_record',),
 ('order_today',),
 ('originData',),
 ('stock',),
 ('sum_slidingWin',),
 ('test',),
 ('train',)]

## 练习二：KNN分类
首先从数据库中读出diamonds数据集，由于该数据较大，因此这里只读取了前1000行。

In [4]:
%%sql
DROP TABLE if EXISTS diamonds;
CREATE TABLE diamonds SELECT * FROM dataset.diamonds LIMIT 1000;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
1000 rows affected.

[]

In [5]:
%%sql
SELECT * FROM diamonds limit 10;

 * mysql://stu2000012926:***@162.105.146.37:43306
10 rows affected.

[(1, Decimal('0.23'), 'Ideal', 'E', 'SI2', Decimal('61.50'), Decimal('55.00'), Decimal('3.95'), Decimal('3.98'), Decimal('2.43'), Decimal('326.00')),
 (2, Decimal('0.21'), 'Premium', 'E', 'SI1', Decimal('59.80'), Decimal('61.00'), Decimal('3.89'), Decimal('3.84'), Decimal('2.31'), Decimal('326.00')),
 (3, Decimal('0.23'), 'Good', 'E', 'VS1', Decimal('56.90'), Decimal('65.00'), Decimal('4.05'), Decimal('4.07'), Decimal('2.31'), Decimal('327.00')),
 (4, Decimal('0.29'), 'Premium', 'I', 'VS2', Decimal('62.40'), Decimal('58.00'), Decimal('4.20'), Decimal('4.23'), Decimal('2.63'), Decimal('334.00')),
 (5, Decimal('0.31'), 'Good', 'J', 'SI2', Decimal('63.30'), Decimal('58.00'), Decimal('4.34'), Decimal('4.35'), Decimal('2.75'), Decimal('335.00')),
 (6, Decimal('0.24'), 'Very Good', 'J', 'VVS2', Decimal('62.80'), Decimal('57.00'), Decimal('3.94'), Decimal('3.96'), Decimal('2.48'), Decimal('336.00')),
 (7, Decimal('0.24'), 'Very Good', 'I', 'VVS1', Decimal('62.30'), Decimal('57.00'), Decimal('3.95'), Decimal('3.98'), Decimal('2.47'), Decimal('336.00')),
 (8, Decimal('0.26'), 'Very Good', 'H', 'SI1', Decimal('61.90'), Decimal('55.00'), Decimal('4.07'), Decimal('4.11'), Decimal('2.53'), Decimal('337.00')),
 (9, Decimal('0.22'), 'Fair', 'E', 'VS2', Decimal('65.10'), Decimal('61.00'), Decimal('3.87'), Decimal('3.78'), Decimal('2.49'), Decimal('337.00')),
 (10, Decimal('0.23'), 'Very Good', 'H', 'VS1', Decimal('59.40'), Decimal('61.00'), Decimal('4.00'), Decimal('4.05'), Decimal('2.39'), Decimal('338.00'))]

使用最大最小归一化处理数值型属性：

In [6]:
%%sql
WITH tmp AS (
    SELECT min(carat) mincarat, max(carat) maxcarat 
    FROM diamonds
    )
UPDATE diamonds SET carat = (carat - (SELECT mincarat FROM tmp))/((SELECT maxcarat FROM tmp)-(SELECT mincarat FROM tmp));

WITH tmp AS (
    SELECT min(depth) mindepth, max(depth) maxdepth
    FROM diamonds
    )
UPDATE diamonds SET depth = (depth - (SELECT mindepth FROM tmp))/((SELECT maxdepth FROM tmp)-(SELECT mindepth FROM tmp));

WITH tmp AS (
    SELECT min(tables) mintables, max(tables) maxtables 
    FROM diamonds
    )
UPDATE diamonds SET tables = (tables - (SELECT mintables FROM tmp))/((SELECT maxtables FROM tmp)-(SELECT mintables FROM tmp));

WITH tmp AS (
    SELECT min(x) minx, max(x) maxx 
    FROM diamonds
    )
UPDATE diamonds SET x = (x - (SELECT minx FROM tmp))/((SELECT maxx FROM tmp)-(SELECT minx FROM tmp));

WITH tmp AS (
    SELECT min(y) miny, max(y) maxy 
    FROM diamonds
    )
UPDATE diamonds SET y = (y - (SELECT miny FROM tmp))/((SELECT maxy FROM tmp)-(SELECT miny FROM tmp));

WITH tmp AS (
    SELECT min(z) minz, max(z) maxz 
    FROM diamonds
    )
UPDATE diamonds SET z = (z - (SELECT minz FROM tmp))/((SELECT maxz FROM tmp)-(SELECT minz FROM tmp));

SELECT * FROM diamonds limit 50;

 * mysql://stu2000012926:***@162.105.146.37:43306
1000 rows affected.
1000 rows affected.
1000 rows affected.
1000 rows affected.
1000 rows affected.
1000 rows affected.
50 rows affected.

[(1, Decimal('0.03'), 'Ideal', 'E', 'SI2', Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 'Premium', 'E', 'SI1', Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (3, Decimal('0.03'), 'Good', 'E', 'VS1', Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (4, Decimal('0.08'), 'Premium', 'I', 'VS2', Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 'Good', 'J', 'SI2', Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (6, Decimal('0.04'), 'Very Good', 'J', 'VVS2', Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 'Very Good', 'I', 'VVS1', Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (8, Decimal('0.06'), 'Very Good', 'H', 'SI1', Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (9, Decimal('0.02'), 'Fair', 'E', 'VS2', Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 'Very Good', 'H', 'VS1', Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (11, Decimal('0.09'), 'Good', 'J', 'SI1', Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (12, Decimal('0.03'), 'Ideal', 'J', 'VS1', Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (13, Decimal('0.02'), 'Premium', 'F', 'SI1', Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 'Ideal', 'J', 'SI2', Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (15, Decimal('0.00'), 'Premium', 'E', 'SI2', Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00')),
 (16, Decimal('0.11'), 'Premium', 'E', 'I1', Decimal('0.48'), Decimal('0.33'), Decimal('0.18'), Decimal('0.20'), Decimal('0.20'), Decimal('345.00')),
 (17, Decimal('0.09'), 'Ideal', 'I', 'SI2', Decimal('0.55'), Decimal('0.11'), Decimal('0.16'), Decimal('0.18'), Decimal('0.20'), Decimal('348.00')),
 (18, Decimal('0.09'), 'Good', 'J', 'SI1', Decimal('0.63'), Decimal('0.11'), Decimal('0.13'), Decimal('0.16'), Decimal('0.21'), Decimal('351.00')),
 (19, Decimal('0.09'), 'Good', 'J', 'SI1', Decimal('0.65'), Decimal('0.22'), Decimal('0.13'), Decimal('0.15'), Decimal('0.21'), Decimal('351.00')),
 (20, Decimal('0.09'), 'Very Good', 'J', 'SI1', Decimal('0.59'), Decimal('0.39'), Decimal('0.13'), Decimal('0.16'), Decimal('0.19'), Decimal('351.00')),
 (21, Decimal('0.09'), 'Good', 'I', 'SI2', Decimal('0.62'), Decimal('0.22'), Decimal('0.14'), Decimal('0.17'), Decimal('0.21'), Decimal('351.00')),
 (22, Decimal('0.03'), 'Very Good', 'E', 'VS2', Decimal('0.65'), Decimal('0.17'), Decimal('0.02'), Decimal('0.05'), Decimal('0.10'), Decimal('352.00')),
 (23, Decimal('0.03'), 'Very Good', 'H', 'VS1', Decimal('0.48'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.07'), Decimal('353.00')),
 (24, Decimal('0.10'), 'Very Good', 'J', 'SI1', Decimal('0.39'), Decimal('0.56'), Decimal('0.18'), Decimal('0.21'), Decimal('0.17'), Decimal('353.00')),
 (25, Decimal('0.10'), 'Very Good', 'J', 'SI1', Decimal('0.31'), Decimal('0.56'), Decimal('0.20'), Decimal('0.22'), Decimal('0.16'), Decimal('353.00')),
 (26, Decimal('0.03'), 'Very Good', 'G', 'VVS2', Decimal('0.45'), Decimal('0.33'), Decimal('0.05'), Decimal('0.08'), Decimal('0.07'), Decimal('354.00')),
 (27, Decimal('0.04'), 'Premium', 'I', 'VS1', Decimal('0.58'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('355.00')),
 (28, Decimal('0.09'), 'Very Good', 'J', 'VS2', Decimal('0.56'), Decimal('0.28'), Decimal('0.15'), Decimal('0.17'), Decimal('0.19'), Decimal('357.00')),
 (29, Decimal('0.03'), 'Very Good', 'D', 'VS2', Decimal('0.45'), Decimal('0.50'), Decimal('0.05'), Decimal('0.07'), Decimal('0.06'), Decimal('357.00')),
 (30, Decimal('0.03'), 'Very Good', 'F', 'VS1', Decimal('0.48'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.07'), Decimal('357.00')),
 (31, Decimal('0.03'), 'Very Good', 'F', 'VS1', Decimal('0.42'), Decimal('0.28'), Decimal('0.06'), Decimal('0.08'), Decimal('0.07'), Decimal('402.00')),
 (32, Decimal('0.03'), 'Very Good', 'F', 'VS1', Decimal('0.41'), Decimal('0.28'), Decimal('0.08'), Decimal('0.09'), Decimal('0.07'), Decimal('402.00')),
 (33, Decimal('0.03'), 'Very Good', 'E', 'VS1', Decimal('0.47'), Decimal('0.39'), Decimal('0.05'), Decimal('0.08'), Decimal('0.07'), Decimal('402.00')),
 (34, Decimal('0.03'), 'Very Good', 'E', 'VS1', Decimal('0.39'), Decimal('0.33'), Decimal('0.07'), Decimal('0.09'), Decimal('0.06'), Decimal('402.00')),
 (35, Decimal('0.03'), 'Very Good', 'D', 'VS1', Decimal('0.54'), Decimal('0.33'), Decimal('0.04'), Decimal('0.06'), Decimal('0.08'), Decimal('402.00')),
 (36, Decimal('0.03'), 'Good', 'F', 'VS1', Decimal('0.32'), Decimal('0.39'), Decimal('0.08'), Decimal('0.10'), Decimal('0.05'), Decimal('402.00')),
 (37, Decimal('0.03'), 'Good', 'E', 'VS1', Decimal('0.67'), Decimal('0.39'), Decimal('0.01'), Decimal('0.03'), Decimal('0.09'), Decimal('402.00')),
 (38, Decimal('0.10'), 'Good', 'H', 'SI1', Decimal('0.67'), Decimal('0.11'), Decimal('0.15'), Decimal('0.17'), Decimal('0.23'), Decimal('402.00')),
 (39, Decimal('0.06'), 'Very Good', 'D', 'VS2', Decimal('0.47'), Decimal('0.39'), Decimal('0.10'), Decimal('0.12'), Decimal('0.12'), Decimal('403.00')),
 (40, Decimal('0.12'), 'Ideal', 'I', 'SI2', Decimal('0.53'), Decimal('0.17'), Decimal('0.21'), Decimal('0.23'), Decimal('0.25'), Decimal('403.00')),
 (41, Decimal('0.12'), 'Ideal', 'I', 'SI2', Decimal('0.50'), Decimal('0.22'), Decimal('0.21'), Decimal('0.23'), Decimal('0.23'), Decimal('403.00')),
 (42, Decimal('0.12'), 'Ideal', 'J', 'SI1', Decimal('0.49'), Decimal('0.22'), Decimal('0.21'), Decimal('0.24'), Decimal('0.24'), Decimal('403.00')),
 (43, Decimal('0.06'), 'Good', 'D', 'VS2', Decimal('0.74'), Decimal('0.22'), Decimal('0.06'), Decimal('0.08'), Decimal('0.17'), Decimal('403.00')),
 (44, Decimal('0.06'), 'Good', 'D', 'VS1', Decimal('0.33'), Decimal('0.61'), Decimal('0.12'), Decimal('0.15'), Decimal('0.09'), Decimal('403.00')),
 (45, Decimal('0.11'), 'Good', 'H', 'SI2', Decimal('0.61'), Decimal('0.22'), Decimal('0.17'), Decimal('0.19'), Decimal('0.23'), Decimal('403.00')),
 (46, Decimal('0.08'), 'Premium', 'F', 'SI1', Decimal('0.57'), Decimal('0.33'), Decimal('0.14'), Decimal('0.15'), Decimal('0.18'), Decimal('403.00')),
 (47, Decimal('0.11'), 'Very Good', 'H', 'SI2', Decimal('0.53'), Decimal('0.17'), Decimal('0.17'), Decimal('0.20'), Decimal('0.21'), Decimal('403.00')),
 (48, Decimal('0.11'), 'Good', 'H', 'SI2', Decimal('0.65'), Decimal('0.22'), Decimal('0.17'), Decimal('0.19'), Decimal('0.25'), Decimal('403.00')),
 (49, Decimal('0.05'), 'Very Good', 'E', 'VS2', Decimal('0.62'), Decimal('0.44'), Decimal('0.06'), Decimal('0.08'), Decimal('0.13'), Decimal('404.00')),
 (50, Decimal('0.08'), 'Very Good', 'H', 'SI2', Decimal('0.47'), Decimal('0.44'), Decimal('0.16'), Decimal('0.19'), Decimal('0.18'), Decimal('404.00'))]

对枚举型属性进行独热编码：

In [7]:
%%sql
ALTER TABLE diamonds ADD COLUMN fair TINYINT default 0 AFTER cut;
ALTER TABLE diamonds ADD COLUMN good TINYINT default 0 AFTER fair;
ALTER TABLE diamonds ADD COLUMN very_good TINYINT default 0 AFTER good;
ALTER TABLE diamonds ADD COLUMN premium TINYINT default 0 AFTER very_good;
ALTER TABLE diamonds ADD COLUMN ideal TINYINT default 0 AFTER premium;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [8]:
%%sql
UPDATE diamonds SET fair = 1 WHERE cut = 'Fair';
UPDATE diamonds SET good = 1 WHERE cut = 'Good';
UPDATE diamonds SET very_good = 1 WHERE cut = 'Very Good';
UPDATE diamonds SET premium = 1 WHERE cut = 'Premium';
UPDATE diamonds SET ideal = 1 WHERE cut = 'Ideal';
SELECT * FROM diamonds limit 15;

 * mysql://stu2000012926:***@162.105.146.37:43306
62 rows affected.
89 rows affected.
226 rows affected.
290 rows affected.
333 rows affected.
15 rows affected.

[(1, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'E', 'SI2', Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 'Premium', 0, 0, 0, 1, 0, 'E', 'SI1', Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (3, Decimal('0.03'), 'Good', 0, 1, 0, 0, 0, 'E', 'VS1', Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (4, Decimal('0.08'), 'Premium', 0, 0, 0, 1, 0, 'I', 'VS2', Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 'Good', 0, 1, 0, 0, 0, 'J', 'SI2', Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (6, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'J', 'VVS2', Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'I', 'VVS1', Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (8, Decimal('0.06'), 'Very Good', 0, 0, 1, 0, 0, 'H', 'SI1', Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (9, Decimal('0.02'), 'Fair', 1, 0, 0, 0, 0, 'E', 'VS2', Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 'Very Good', 0, 0, 1, 0, 0, 'H', 'VS1', Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (11, Decimal('0.09'), 'Good', 0, 1, 0, 0, 0, 'J', 'SI1', Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (12, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'J', 'VS1', Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (13, Decimal('0.02'), 'Premium', 0, 0, 0, 1, 0, 'F', 'SI1', Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 'Ideal', 0, 0, 0, 0, 1, 'J', 'SI2', Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (15, Decimal('0.00'), 'Premium', 0, 0, 0, 1, 0, 'E', 'SI2', Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00'))]

In [9]:
%%sql
ALTER TABLE diamonds ADD COLUMN colorJ TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorI TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorH TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorG TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorF TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorE TINYINT default 0 AFTER color;
ALTER TABLE diamonds ADD COLUMN colorD TINYINT default 0 AFTER color;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [10]:
%%sql
UPDATE diamonds SET colorD = 1 WHERE color = 'D';
UPDATE diamonds SET colorE = 1 WHERE color = 'E';
UPDATE diamonds SET colorF = 1 WHERE color = 'F';
UPDATE diamonds SET colorG = 1 WHERE color = 'G';
UPDATE diamonds SET colorH = 1 WHERE color = 'H';
UPDATE diamonds SET colorI = 1 WHERE color = 'I';
UPDATE diamonds SET colorJ = 1 WHERE color = 'J';
SELECT * FROM diamonds limit 15;

 * mysql://stu2000012926:***@162.105.146.37:43306
129 rows affected.
240 rows affected.
226 rows affected.
139 rows affected.
125 rows affected.
95 rows affected.
46 rows affected.
15 rows affected.

[(1, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI2', Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 'Premium', 0, 0, 0, 1, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI1', Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (3, Decimal('0.03'), 'Good', 0, 1, 0, 0, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'VS1', Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (4, Decimal('0.08'), 'Premium', 0, 0, 0, 1, 0, 'I', 0, 0, 0, 0, 0, 1, 0, 'VS2', Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 'Good', 0, 1, 0, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI2', Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (6, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'VVS2', Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'I', 0, 0, 0, 0, 0, 1, 0, 'VVS1', Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (8, Decimal('0.06'), 'Very Good', 0, 0, 1, 0, 0, 'H', 0, 0, 0, 0, 1, 0, 0, 'SI1', Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (9, Decimal('0.02'), 'Fair', 1, 0, 0, 0, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'VS2', Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 'Very Good', 0, 0, 1, 0, 0, 'H', 0, 0, 0, 0, 1, 0, 0, 'VS1', Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (11, Decimal('0.09'), 'Good', 0, 1, 0, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI1', Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (12, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'J', 0, 0, 0, 0, 0, 0, 1, 'VS1', Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (13, Decimal('0.02'), 'Premium', 0, 0, 0, 1, 0, 'F', 0, 0, 1, 0, 0, 0, 0, 'SI1', Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 'Ideal', 0, 0, 0, 0, 1, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI2', Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (15, Decimal('0.00'), 'Premium', 0, 0, 0, 1, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI2', Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00'))]

In [11]:
%%sql
ALTER TABLE diamonds ADD COLUMN `IF` TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN VVS2 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN VVS1 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN VS2 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN VS1 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN SI2 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN SI1 TINYINT default 0 AFTER clarity;
ALTER TABLE diamonds ADD COLUMN I1 TINYINT default 0 AFTER clarity;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [12]:
%%sql
UPDATE diamonds SET I1 = 1 WHERE clarity = 'I1';
UPDATE diamonds SET SI1 = 1 WHERE clarity = 'SI1';
UPDATE diamonds SET SI2 = 1 WHERE clarity = 'SI2';
UPDATE diamonds SET VS1 = 1 WHERE clarity = 'VS1';
UPDATE diamonds SET VS2 = 1 WHERE clarity = 'VS2';
UPDATE diamonds SET VVS1 = 1 WHERE clarity = 'VVS1';
UPDATE diamonds SET VVS2 = 1 WHERE clarity = 'VVS2';
UPDATE diamonds SET `IF` = 1 WHERE clarity = 'IF';
SELECT * FROM diamonds limit 15;

 * mysql://stu2000012926:***@162.105.146.37:43306
29 rows affected.
306 rows affected.
154 rows affected.
159 rows affected.
218 rows affected.
58 rows affected.
62 rows affected.
14 rows affected.
15 rows affected.

[(1, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI2', 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 'Premium', 0, 0, 0, 1, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI1', 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (3, Decimal('0.03'), 'Good', 0, 1, 0, 0, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'VS1', 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (4, Decimal('0.08'), 'Premium', 0, 0, 0, 1, 0, 'I', 0, 0, 0, 0, 0, 1, 0, 'VS2', 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 'Good', 0, 1, 0, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI2', 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (6, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'VVS2', 0, 0, 0, 0, 0, 0, 1, 0, Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 'Very Good', 0, 0, 1, 0, 0, 'I', 0, 0, 0, 0, 0, 1, 0, 'VVS1', 0, 0, 0, 0, 0, 1, 0, 0, Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (8, Decimal('0.06'), 'Very Good', 0, 0, 1, 0, 0, 'H', 0, 0, 0, 0, 1, 0, 0, 'SI1', 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (9, Decimal('0.02'), 'Fair', 1, 0, 0, 0, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'VS2', 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 'Very Good', 0, 0, 1, 0, 0, 'H', 0, 0, 0, 0, 1, 0, 0, 'VS1', 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (11, Decimal('0.09'), 'Good', 0, 1, 0, 0, 0, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI1', 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (12, Decimal('0.03'), 'Ideal', 0, 0, 0, 0, 1, 'J', 0, 0, 0, 0, 0, 0, 1, 'VS1', 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (13, Decimal('0.02'), 'Premium', 0, 0, 0, 1, 0, 'F', 0, 0, 1, 0, 0, 0, 0, 'SI1', 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 'Ideal', 0, 0, 0, 0, 1, 'J', 0, 0, 0, 0, 0, 0, 1, 'SI2', 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (15, Decimal('0.00'), 'Premium', 0, 0, 0, 1, 0, 'E', 0, 1, 0, 0, 0, 0, 0, 'SI2', 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00'))]

In [13]:
%%sql
ALTER TABLE diamonds DROP cut;
ALTER TABLE diamonds DROP color;
ALTER TABLE diamonds DROP clarity;
SELECT * FROM diamonds LIMIT 15;

 * mysql://stu2000012926:***@162.105.146.37:43306

0 rows affected.
0 rows affected.
0 rows affected.
15 rows affected.

[(1, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (3, Decimal('0.03'), 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (4, Decimal('0.08'), 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (6, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (8, Decimal('0.06'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (9, Decimal('0.02'), 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (11, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (12, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (13, Decimal('0.02'), 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (15, Decimal('0.00'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00'))]

数据集划分，按照训练集：测试集=7:3划分

In [14]:
%%sql
ALTER TABLE diamonds ADD COLUMN split DOUBLE default 0;
UPDATE diamonds SET split=(SELECT rand());
SELECT * FROM diamonds LIMIT 15;

 * mysql://stu2000012926:***@162.105.146.37:43306

0 rows affected.
1000 rows affected.
15 rows affected.

[(1, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00'), 0.7890677831965198),
 (2, Decimal('0.01'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00'), 0.9899697312991784),
 (3, Decimal('0.03'), 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00'), 0.5826453376399775),
 (4, Decimal('0.08'), 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00'), 0.9433175250359974),
 (5, Decimal('0.10'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00'), 0.9686516429936994),
 (6, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00'), 0.013305670594149895),
 (7, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00'), 0.16057345472329618),
 (8, Decimal('0.06'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00'), 0.7629502925676762),
 (9, Decimal('0.02'), 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00'), 0.33303112940213747),
 (10, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00'), 0.3763048000413038),
 (11, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00'), 0.8824306427337515),
 (12, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00'), 0.28323884427849094),
 (13, Decimal('0.02'), 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00'), 0.7689023239248454),
 (14, Decimal('0.10'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00'), 0.994795117522399),
 (15, Decimal('0.00'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00'), 0.6672686465711041)]

In [15]:
%%sql
DROP TABLE IF EXISTS train;
DROP TABLE IF EXISTS test;
CREATE TABLE train SELECT * FROM diamonds WHERE split < 0.7;
CREATE TABLE test SELECT * FROM diamonds WHERE split >= 0.7;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.
696 rows affected.
304 rows affected.

[]

In [16]:
%%sql
ALTER TABLE train DROP split;
ALTER TABLE test DROP split;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [17]:
%%sql
SELECT * FROM train LIMIT 15;

 * mysql://stu2000012926:***@162.105.146.37:43306
15 rows affected.

[(3, Decimal('0.03'), 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.24'), Decimal('0.72'), Decimal('0.08'), Decimal('0.10'), Decimal('0.02'), Decimal('327.00')),
 (6, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, Decimal('0.59'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('336.00')),
 (7, Decimal('0.04'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, Decimal('0.56'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.10'), Decimal('336.00')),
 (9, Decimal('0.02'), 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.73'), Decimal('0.50'), Decimal('0.02'), Decimal('0.01'), Decimal('0.11'), Decimal('337.00')),
 (10, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.39'), Decimal('0.50'), Decimal('0.06'), Decimal('0.09'), Decimal('0.06'), Decimal('338.00')),
 (12, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.59'), Decimal('0.22'), Decimal('0.04'), Decimal('0.05'), Decimal('0.09'), Decimal('340.00')),
 (15, Decimal('0.00'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.44'), Decimal('0.56'), Decimal('0.00'), Decimal('0.00'), Decimal('0.00'), Decimal('345.00')),
 (16, Decimal('0.11'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, Decimal('0.48'), Decimal('0.33'), Decimal('0.18'), Decimal('0.20'), Decimal('0.20'), Decimal('345.00')),
 (19, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.65'), Decimal('0.22'), Decimal('0.13'), Decimal('0.15'), Decimal('0.21'), Decimal('351.00')),
 (22, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.65'), Decimal('0.17'), Decimal('0.02'), Decimal('0.05'), Decimal('0.10'), Decimal('352.00')),
 (25, Decimal('0.10'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.31'), Decimal('0.56'), Decimal('0.20'), Decimal('0.22'), Decimal('0.16'), Decimal('353.00')),
 (27, Decimal('0.04'), 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.58'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.10'), Decimal('355.00')),
 (28, Decimal('0.09'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.56'), Decimal('0.28'), Decimal('0.15'), Decimal('0.17'), Decimal('0.19'), Decimal('357.00')),
 (29, Decimal('0.03'), 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.45'), Decimal('0.50'), Decimal('0.05'), Decimal('0.07'), Decimal('0.06'), Decimal('357.00')),
 (30, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.48'), Decimal('0.28'), Decimal('0.05'), Decimal('0.07'), Decimal('0.07'), Decimal('357.00'))]

In [18]:
%%sql
SELECT * FROM test LIMIT 15;

 * mysql://stu2000012926:***@162.105.146.37:43306
15 rows affected.

[(1, Decimal('0.03'), 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.52'), Decimal('0.17'), Decimal('0.05'), Decimal('0.07'), Decimal('0.08'), Decimal('326.00')),
 (2, Decimal('0.01'), 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.41'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.02'), Decimal('326.00')),
 (4, Decimal('0.08'), 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, Decimal('0.57'), Decimal('0.33'), Decimal('0.12'), Decimal('0.15'), Decimal('0.17'), Decimal('334.00')),
 (5, Decimal('0.10'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.62'), Decimal('0.33'), Decimal('0.17'), Decimal('0.18'), Decimal('0.23'), Decimal('335.00')),
 (8, Decimal('0.06'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.54'), Decimal('0.17'), Decimal('0.08'), Decimal('0.11'), Decimal('0.13'), Decimal('337.00')),
 (11, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.67'), Decimal('0.17'), Decimal('0.14'), Decimal('0.16'), Decimal('0.22'), Decimal('339.00')),
 (13, Decimal('0.02'), 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.45'), Decimal('0.50'), Decimal('0.03'), Decimal('0.03'), Decimal('0.03'), Decimal('342.00')),
 (14, Decimal('0.10'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.56'), Decimal('0.11'), Decimal('0.17'), Decimal('0.19'), Decimal('0.21'), Decimal('344.00')),
 (17, Decimal('0.09'), 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.55'), Decimal('0.11'), Decimal('0.16'), Decimal('0.18'), Decimal('0.20'), Decimal('348.00')),
 (18, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.63'), Decimal('0.11'), Decimal('0.13'), Decimal('0.16'), Decimal('0.21'), Decimal('351.00')),
 (20, Decimal('0.09'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.59'), Decimal('0.39'), Decimal('0.13'), Decimal('0.16'), Decimal('0.19'), Decimal('351.00')),
 (21, Decimal('0.09'), 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, Decimal('0.62'), Decimal('0.22'), Decimal('0.14'), Decimal('0.17'), Decimal('0.21'), Decimal('351.00')),
 (23, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, Decimal('0.48'), Decimal('0.28'), Decimal('0.05'), Decimal('0.06'), Decimal('0.07'), Decimal('353.00')),
 (24, Decimal('0.10'), 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, Decimal('0.39'), Decimal('0.56'), Decimal('0.18'), Decimal('0.21'), Decimal('0.17'), Decimal('353.00')),
 (26, Decimal('0.03'), 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, Decimal('0.45'), Decimal('0.33'), Decimal('0.05'), Decimal('0.08'), Decimal('0.07'), Decimal('354.00'))]

实现KNN算法

In [19]:
%%sql
DROP TABLE IF EXISTS distance;

CREATE TABLE distance
SELECT
    train.id train_id,
    test.id test_id, 
    train.price train_price,
    pow(train.carat-test.carat, 2) + 
    pow(train.fair-test.fair, 2)+
    pow(train.good-test.good, 2)+
    pow(train.very_good-test.very_good, 2)+
    pow(train.premium-test.premium, 2)+
    pow(train.ideal-test.ideal, 2)+
    pow(train.colorD-test.colorD, 2)+
    pow(train.colorE-test.colorE, 2)+
    pow(train.colorF-test.colorF, 2)+
    pow(train.colorG-test.colorG, 2)+
    pow(train.colorH-test.colorH, 2)+
    pow(train.colorI-test.colorI, 2)+
    pow(train.colorJ-test.colorJ, 2)+
    pow(train.I1-test.I1, 2)+
    pow(train.SI1-test.SI1, 2)+
    pow(train.SI2-test.SI2, 2)+
    pow(train.VS1-test.VS1, 2)+
    pow(train.VS2-test.VS2, 2)+
    pow(train.VVS1-test.VVS1, 2)+
    pow(train.VVS2-test.VVS2, 2)+
    pow(train.IF-test.IF, 2)+
    pow(train.depth-test.depth, 2)+
    pow(train.tables-test.tables, 2)+
    pow(train.x-test.x, 2)+
    pow(train.y-test.y, 2)+
    pow(train.z-test.z, 2) dist
FROM train, test
ORDER BY test_id, dist;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.

211584 rows affected.

[]

In [20]:
%%sql
SELECT * FROM distance LIMIT 20;

 * mysql://stu2000012926:***@162.105.146.37:43306
20 rows affected.

[(356, 1, Decimal('2805.00'), 1.1543),
 (989, 1, Decimal('2896.00'), 1.173),
 (112, 1, Decimal('2761.00'), 1.1775000000000002),
 (583, 1, Decimal('2834.00'), 1.3333),
 (722, 1, Decimal('556.00'), 2.0110999999999994),
 (420, 1, Decimal('556.00'), 2.0177999999999994),
 (721, 1, Decimal('556.00'), 2.0189),
 (40, 1, Decimal('403.00'), 2.0883),
 (729, 1, Decimal('556.00'), 2.0921999999999996),
 (84, 1, Decimal('554.00'), 2.1543999999999994),
 (15, 1, Decimal('345.00'), 2.1732),
 (952, 1, Decimal('2889.00'), 2.4285),
 (546, 1, Decimal('2829.00'), 2.6500000000000004),
 (372, 1, Decimal('2808.00'), 2.6766),
 (110, 1, Decimal('2761.00'), 2.6819),
 (782, 1, Decimal('2860.00'), 2.6969),
 (514, 1, Decimal('2823.00'), 2.8084),
 (469, 1, Decimal('2818.00'), 3.0039000000000002),
 (192, 1, Decimal('2777.00'), 3.0059),
 (454, 1, Decimal('2817.00'), 3.0212)]

针对每个测试集中的样本，选取前K个最近的训练集样本，并根据这K个样本的最多类标签数决定测试样本的类别

In [28]:
%%sql
DROP TABLE IF EXISTS result;

CREATE TABLE result(
    id INT,
    pred DOUBLE
);

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [29]:
%%sql
DROP PROCEDURE IF EXISTS func;

CREATE PROCEDURE func () 
begin
DECLARE id INT DEFAULT NULL;
DECLARE price DOUBLE DEFAULT NULL;
DECLARE cnt INT DEFAULT 0;
DECLARE K INT DEFAULT 25;
DECLARE train_num INT DEFAULT 0;
DECLARE done INT DEFAULT false;

DECLARE iCursor CURSOR FOR SELECT test_id, train_price FROM distance;

DECLARE CONTINUE HANDLER FOR NOT FOUND SET done = true;
OPEN iCursor; 

SET cnt = 0;
SET train_num = (SELECT count(*) FROM train);

outer_loop: LOOP
    inner_loop:LOOP
    FETCH iCursor INTO id, price; 
        IF done THEN  
            LEAVE outer_loop;
        END IF; 
        IF cnt < K THEN
            INSERT INTO result VALUES(id, price);
        END IF;
        SET cnt = cnt + 1;
        IF cnt >= train_num THEN
            LEAVE inner_loop;
        END IF;
    END LOOP;
    SET cnt = 0;
END LOOP;
    
    
CLOSE iCursor; 

end;

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
0 rows affected.

[]

In [30]:
%%sql
CALL func();

 * mysql://stu2000012926:***@162.105.146.37:43306
0 rows affected.
20 rows affected.

[(1, 2805.0),
 (1, 2896.0),
 (1, 2761.0),
 (1, 2834.0),
 (1, 556.0),
 (1, 556.0),
 (1, 556.0),
 (1, 403.0),
 (1, 556.0),
 (1, 554.0),
 (1, 345.0),
 (1, 2889.0),
 (1, 2829.0),
 (1, 2808.0),
 (1, 2761.0),
 (1, 2860.0),
 (1, 2823.0),
 (1, 2818.0),
 (1, 2777.0),
 (1, 2817.0)]

In [36]:
%%sql
SELECT count(*)/(SELECT count(*) FROM test) acc
FROM (SELECT id, avg(pred) pred_price FROM result GROUP BY id) AS pred, test
WHERE test.id = pred.id AND ABS(pred.pred_price-test.price) < 10;

 * mysql://stu2000012926:***@162.105.146.37:43306
1 rows affected.

[(Decimal('0.0691'),)]